ProjetGLA-ejb/build/*
ProjetGLA-war/build/*
ProjetGLA-ejb/build.xml
nbproject/private/*
ProjetGLA-ejb/nbproject/private/*
ProjetGLA-ejb/nbproject/build-impl.xml
ProjetGLA-ejb/nbproject/private/genfiles.properties
build/*
dist/*
ProjetGLA-war/nbproject/private/*
build/

ProjetGLA-ejb/dist/

ProjetGLA-war/dist/


nbproject/*

ProjetGLA-war/nbproject/private.rar



